.history/n8n/workflows/bill-popularity-check_20260104133654.json
{
  "name": "Bill Popularity Check",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger-popularity"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/bills",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "page_size",
              "value": "50"
            },
            {
              "name": "law_impact_only",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Recent Law Impact Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "id": "fetch-bills-popularity"
    },
    {
      "parameters": {
        "jsCode": "// Extract bills from response\nconst items = $input.all();\nconst response = items[0].json;\nconst bills = response.items || [];\n\n// Return each bill as a separate item for processing\nreturn bills.map(bill => ({ json: bill }));"
      },
      "name": "Extract Bills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "extract-bills-popularity"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300],
      "id": "split-batches-popularity"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GOOGLE_API_KEY"
            },
            {
              "name": "cx",
              "value": "YOUR_SEARCH_ENGINE_ID"
            },
            {
              "name": "q",
              "value": "={{$json.bill_type.toUpperCase()}} {{$json.bill_number}} {{$json.congress}}th Congress"
            }
          ]
        },
        "options": {}
      },
      "name": "Search Web for Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300],
      "continueOnFail": true,
      "id": "search-web-popularity",
      "notes": "Replace with your preferred search API (Google Custom Search, Bing, NewsAPI, etc.)\nThis example uses Google Custom Search API."
    },
    {
      "parameters": {
        "jsCode": "// Determine if bill is popular based on search results\n// The input comes from \"Search Web for Bill\" node which has the search result\n// We need to get the bill data that was passed through\nconst searchResult = $input.item.json;\nconst billData = $node[\"Split In Batches\"].item.json;\n\n// Extract search result count (adjust based on your API)\nlet hitCount = 0;\nlet isPopular = false;\n\nif (searchResult && !searchResult.error) {\n  // Google Custom Search API format\n  hitCount = parseInt(searchResult.searchInformation?.totalResults || '0', 10);\n  \n  // Alternative: count actual items returned\n  // hitCount = (searchResult.items || []).length;\n  \n  // Mark as popular if >= 3 web mentions\n  isPopular = hitCount >= 3;\n}\n\nreturn [{\n  json: {\n    bill_id: billData.id,\n    bill_type: billData.bill_type,\n    bill_number: billData.bill_number,\n    title: billData.title,\n    popularity_score: hitCount,\n    is_popular: isPopular\n  }\n}];"
      },
      "name": "Calculate Popularity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "id": "calculate-popularity"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://host.docker.internal:8000/bills/{{$json.bill_id}}/popularity",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"is_popular\": {{$json.is_popular}},\n  \"popularity_score\": {{$json.popularity_score}}\n}",
        "options": {}
      },
      "name": "Update Bill Popularity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 300],
      "continueOnFail": true,
      "id": "update-popularity"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1650, 300],
      "id": "wait-popularity",
      "notes": "Rate limiting delay between API calls"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Fetch Recent Law Impact Bills", "type": "main", "index": 0}]]
    },
    "Fetch Recent Law Impact Bills": {
      "main": [[{"node": "Extract Bills", "type": "main", "index": 0}]]
    },
    "Extract Bills": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [[{"node": "Search Web for Bill", "type": "main", "index": 0}]]
    },
    "Search Web for Bill": {
      "main": [[{"node": "Calculate Popularity", "type": "main", "index": 0}]]
    },
    "Calculate Popularity": {
      "main": [[{"node": "Update Bill Popularity", "type": "main", "index": 0}]]
    },
    "Update Bill Popularity": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "tags": []
}
