.history/n8n/workflows/daily-bill-sync_20260104115321.json
{
  "name": "Daily Bill Sync",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.congress.gov/v3/bill",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "={{$env.CONGRESS_API_KEY}}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "updateDate+desc"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Recent Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter bills updated recently and extract identifiers\n// Look back 30 days so we capture recent activity\nconst items = $input.all();\nconst billsData = items[0].json.bills || [];\n\nconst lookbackDays = 30; // days to look back for recent updates\nconst cutoff = new Date();\ncutoff.setDate(cutoff.getDate() - lookbackDays);\n\nfunction parseFromUrl(url) {\n  const urlParts = String(url || '').split('/');\n  if (urlParts.length < 7) return null;\n  const congress = parseInt(urlParts[urlParts.length - 3], 10);\n  const bill_type = urlParts[urlParts.length - 2];\n  const bill_number = parseInt(urlParts[urlParts.length - 1], 10);\n  if (!congress || !bill_type || !bill_number) return null;\n  return { congress, bill_type, bill_number };\n}\n\nconst parsed = billsData\n  .map(bill => ({ bill, parsed: parseFromUrl(bill.url) }))\n  .filter(x => x.parsed);\n\n// Heuristic: only ingest bills from the latest congress present in this feed\nconst maxCongress = parsed.reduce((max, x) => Math.max(max, x.parsed.congress), 0);\n\nconst recentBills = parsed\n  .filter(({ bill, parsed }) => parsed.congress === maxCongress)\n  .filter(({ bill }) => {\n    const updateDateRaw = bill.updateDate || bill.updateDateIncludingText;\n    if (!updateDateRaw) return true;\n    const updateDate = new Date(updateDateRaw);\n    return updateDate >= cutoff;\n  })\n  .map(({ bill, parsed }) => ({\n    congress: parsed.congress,\n    bill_type: parsed.bill_type,\n    bill_number: parsed.bill_number,\n    title: bill.title,\n    updateDate: bill.updateDate || bill.updateDateIncludingText || null\n  }));\n\nreturn recentBills.map(bill => ({ json: bill }));"
      },
      "name": "Filter & Parse Bills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/ingest/bill",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "congress",
              "value": "={{$json.congress}}"
            },
            {
              "name": "bill_type",
              "value": "={{$json.bill_type}}"
            },
            {
              "name": "bill_number",
              "value": "={{$json.bill_number}}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "name": "Ingest Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Fetch Recent Bills", "type": "main", "index": 0}]]
    },
    "Fetch Recent Bills": {
      "main": [[{"node": "Filter & Parse Bills", "type": "main", "index": 0}]]
    },
    "Filter & Parse Bills": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [[{"node": "Ingest Bill", "type": "main", "index": 0}]]
    },
    "Ingest Bill": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "tags": []
}
