.history/n8n/workflows/daily-bill-sync_20260104013624.json
{
  "name": "Daily Bill Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.congress.gov/v3/bill",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "UqVRHkePi1qDb025sZdyiwvhW7QceuSu63VvKuTx"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "updateDate+desc"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Recent Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter bills updated in last 24 hours and extract metadata\nconst items = $input.all();\nconst billsData = items[0].json.bills || [];\n\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst recentBills = billsData\n  .filter(bill => {\n    const updateDate = new Date(bill.updateDate);\n    return updateDate >= yesterday;\n  })\n  .map(bill => {\n    const urlParts = bill.url.split('/');\n    return {\n      congress: parseInt(urlParts[urlParts.length - 3]),\n      bill_type: urlParts[urlParts.length - 2],\n      bill_number: parseInt(urlParts[urlParts.length - 1]),\n      title: bill.title,\n      updateDate: bill.updateDate\n    };\n  });\n\nreturn recentBills.map(bill => ({ json: bill }));"
      },
      "name": "Filter & Parse Bills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://justabill-backend:8000/ingest/bill",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "congress",
              "value": "={{$json.congress}}"
            },
            {
              "name": "bill_type",
              "value": "={{$json.bill_type}}"
            },
            {
              "name": "bill_number",
              "value": "={{$json.bill_number}}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "name": "Ingest Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Fetch Recent Bills", "type": "main", "index": 0}]]
    },
    "Fetch Recent Bills": {
      "main": [[{"node": "Filter & Parse Bills", "type": "main", "index": 0}]]
    },
    "Filter & Parse Bills": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [[{"node": "Ingest Bill", "type": "main", "index": 0}]]
    },
    "Ingest Bill": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    }
  }
}
