.history/n8n/workflows/manual-bill-ingestion_20260104104740.json
{
  "name": "Manual Bill Ingestion",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Configure which bills to ingest\nconst billsToIngest = [\n  { congress: 118, bill_type: 'hr', bill_number: 1 },\n  { congress: 118, bill_type: 'hr', bill_number: 2 },\n  { congress: 118, bill_type: 's', bill_number: 1 }\n];\n\nreturn billsToIngest.map(bill => ({ json: bill }));"
      },
      "name": "Define Bills to Ingest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/ingest/bill",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "congress",
              "value": "={{$json.congress}}"
            },
            {
              "name": "bill_type",
              "value": "={{$json.bill_type}}"
            },
            {
              "name": "bill_number",
              "value": "={{$json.bill_number}}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "name": "Ingest Bill into Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Wait Between Bills",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 300],
      "notesInFlow": true,
      "notes": "Rate limiting delay"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Define Bills to Ingest", "type": "main", "index": 0}]]
    },
    "Define Bills to Ingest": {
      "main": [[{"node": "Ingest Bill into Backend", "type": "main", "index": 0}]]
    },
    "Ingest Bill into Backend": {
      "main": [[{"node": "Wait Between Bills", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-04T00:00:00.000Z",
  "versionId": "1"
}
