.history/n8n/workflows/resummarize-bill_20260104030249.json
{
  "name": "Re-summarize Bill",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resummarize-bill",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "resummarize-bill"
    },
    {
      "parameters": {
        "jsCode": "const billId = $json.body.bill_id;\nif (!billId) {\n  throw new Error('bill_id is required');\n}\nreturn { json: { bill_id: billId } };"
      },
      "name": "Extract Bill ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/bills/{{$json.bill_id}}/resummarize",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Trigger Resummarization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Extract Bill ID", "type": "main", "index": 0}]]
    },
    "Extract Bill ID": {
      "main": [[{"node": "Trigger Resummarization", "type": "main", "index": 0}]]
    },
    "Trigger Resummarization": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  }
}
