n8n/workflows/active-bills-sync.json
{
  "name": "Active Bills Sync (Passed House/Senate)",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-active-bills",
      "notes": "Runs daily at 7 AM to fetch bills that have passed House or Senate"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500],
      "id": "manual-trigger-active"
    },
    {
      "parameters": {
        "jsCode": "// Generate API calls to fetch ALL recently updated HR and S bills\n// We paginate through results to catch high-numbered bills like H.R. 6938\nconst apiKey = $env.CONGRESS_API_KEY;\nconst apiCalls = [];\n\n// Calculate date 14 days ago for filtering\nconst twoWeeksAgo = new Date();\ntwoWeeksAgo.setDate(twoWeeksAgo.getDate() - 14);\nconst fromDate = twoWeeksAgo.toISOString().split('.')[0] + 'Z';\n\n// Fetch HR bills with pagination (up to 1000 bills)\nfor (let offset = 0; offset < 1000; offset += 250) {\n  apiCalls.push({\n    json: {\n      billType: 'hr',\n      offset: offset,\n      url: `https://api.congress.gov/v3/bill/119/hr?api_key=${apiKey}&format=json&limit=250&offset=${offset}&fromDateTime=${fromDate}&sort=updateDate+desc`\n    }\n  });\n}\n\n// Fetch S bills with pagination (up to 500 bills)\nfor (let offset = 0; offset < 500; offset += 250) {\n  apiCalls.push({\n    json: {\n      billType: 's',\n      offset: offset,\n      url: `https://api.congress.gov/v3/bill/119/s?api_key=${apiKey}&format=json&limit=250&offset=${offset}&fromDateTime=${fromDate}&sort=updateDate+desc`\n    }\n  });\n}\n\nreturn apiCalls;"
      },
      "name": "Generate API Calls",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400],
      "id": "generate-api-calls"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.url}}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Fetch Bills by Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400],
      "id": "fetch-bills-status",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Collect all bills from all API calls and dedupe\nconst items = $input.all();\nconst allBills = new Map();\n\n// Ceremonial bill filters\nconst CEREMONIAL_PATTERNS = [\n  /post office/i,\n  /postal facility/i,\n  /naming (the|a) /i,\n  /to designate the facility/i,\n  /va (outpatient|medical|health)/i,\n  /department of veterans affairs.*facility/i,\n  /congressional gold medal/i,\n  /commemorative coin/i,\n  /for the relief of/i,\n  /technical corrections? (to|act)/i\n];\n\n// Keywords that indicate important/substantive bills\nconst IMPORTANT_PATTERNS = [\n  /appropriations? act/i,\n  /budget/i,\n  /authorization act/i,\n  /reform act/i,\n  /security act/i,\n  /defense/i,\n  /infrastructure/i,\n  /tax/i,\n  /healthcare|health care/i,\n  /immigration/i\n];\n\nfunction isCeremonial(title) {\n  if (!title) return false;\n  return CEREMONIAL_PATTERNS.some(pattern => pattern.test(title));\n}\n\nfunction isImportant(title) {\n  if (!title) return false;\n  return IMPORTANT_PATTERNS.some(pattern => pattern.test(title));\n}\n\nfunction parseFromUrl(url) {\n  const urlParts = String(url || '').split('/');\n  if (urlParts.length < 7) return null;\n  const congress = parseInt(urlParts[urlParts.length - 3], 10);\n  const bill_type = urlParts[urlParts.length - 2];\n  const bill_number = parseInt(urlParts[urlParts.length - 1].split('?')[0], 10);\n  if (!congress || !bill_type || !bill_number) return null;\n  return { congress, bill_type, bill_number };\n}\n\nfor (const item of items) {\n  const bills = item.json.bills || [];\n  \n  for (const bill of bills) {\n    // Skip ceremonial bills\n    if (isCeremonial(bill.title)) continue;\n    \n    const parsed = parseFromUrl(bill.url);\n    if (!parsed) continue;\n    if (!['hr', 's'].includes(parsed.bill_type)) continue;\n    \n    const key = `${parsed.congress}-${parsed.bill_type}-${parsed.bill_number}`;\n    \n    if (!allBills.has(key)) {\n      allBills.set(key, {\n        congress: parsed.congress,\n        bill_type: parsed.bill_type,\n        bill_number: parsed.bill_number,\n        title: bill.title,\n        latestAction: bill.latestAction?.text || null,\n        latestActionDate: bill.latestAction?.actionDate || null,\n        updateDate: bill.updateDate || null,\n        isImportant: isImportant(bill.title)\n      });\n    }\n  }\n}\n\n// Sort: important bills first, then by update date\nconst results = Array.from(allBills.values())\n  .sort((a, b) => {\n    // Important bills first\n    if (a.isImportant && !b.isImportant) return -1;\n    if (!a.isImportant && b.isImportant) return 1;\n    // Then by update date\n    if (!a.updateDate) return 1;\n    if (!b.updateDate) return -1;\n    return new Date(b.updateDate) - new Date(a.updateDate);\n  })\n  .slice(0, 200); // Process up to 200 bills per run\n\nconsole.log(`Found ${allBills.size} unique bills, processing ${results.length}`);\n\nif (results.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nreturn results.map(b => ({ json: b }));"
      },
      "name": "Dedupe & Filter Bills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400],
      "id": "dedupe-filter"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.congress }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Bill Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400],
      "id": "has-bill-data-active"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "name": "Batch Bills",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1250, 400],
      "id": "batch-active-bills"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://98.94.94.17/api/ingest/bill",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"congress\": {{ $json.congress }},\n  \"bill_type\": \"{{ $json.bill_type }}\",\n  \"bill_number\": {{ $json.bill_number }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Ingest Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 400],
      "id": "ingest-active-bill",
      "continueOnFail": true,
      "notes": "Ingest bill - will fetch text and generate AI summaries"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 400],
      "id": "wait-active-bills",
      "notes": "Wait between ingestions to avoid overwhelming the API"
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [[{"node": "Generate API Calls", "type": "main", "index": 0}]]
    },
    "Manual Trigger": {
      "main": [[{"node": "Generate API Calls", "type": "main", "index": 0}]]
    },
    "Generate API Calls": {
      "main": [[{"node": "Fetch Bills by Status", "type": "main", "index": 0}]]
    },
    "Fetch Bills by Status": {
      "main": [[{"node": "Dedupe & Filter Bills", "type": "main", "index": 0}]]
    },
    "Dedupe & Filter Bills": {
      "main": [[{"node": "Has Bill Data", "type": "main", "index": 0}]]
    },
    "Has Bill Data": {
      "main": [
        [{"node": "Batch Bills", "type": "main", "index": 0}],
        []
      ]
    },
    "Batch Bills": {
      "main": [
        [{"node": "Ingest Bill", "type": "main", "index": 0}],
        []
      ]
    },
    "Ingest Bill": {
      "main": [[{"node": "Rate Limit Wait", "type": "main", "index": 0}]]
    },
    "Rate Limit Wait": {
      "main": [[{"node": "Batch Bills", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
