n8n/workflows/bill-popularity-scanner.json
{
  "name": "Bill Popularity Scanner",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan-bill-popularity",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "bill-popularity-scanner",
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-webhook-auth",
          "name": "Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "president_name",
              "value": "={{ $json.body.president_name || 'Joe Biden' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract President",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://98.94.94.17/api/bills",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "page_size",
              "value": "100"
            },
            {
              "name": "status",
              "value": "enacted"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Enacted Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter bills by president based on date\nconst presidentName = $input.first().json.president_name;\nconst allBills = $input.first().json.items || [];\n\n// President date ranges\nconst PRESIDENT_RANGES = {\n  \"Donald Trump 2nd\": { start: \"2025-01-20\", end: \"2029-01-20\" },\n  \"Joe Biden\": { start: \"2021-01-20\", end: \"2025-01-20\" },\n  \"Donald Trump\": { start: \"2017-01-20\", end: \"2021-01-20\" },\n  \"Barack Obama\": { start: \"2009-01-20\", end: \"2017-01-20\" },\n  \"George W. Bush\": { start: \"2001-01-20\", end: \"2009-01-20\" },\n  \"Bill Clinton\": { start: \"1993-01-20\", end: \"2001-01-20\" },\n  \"George H.W. Bush\": { start: \"1989-01-20\", end: \"1993-01-20\" },\n  \"Ronald Reagan\": { start: \"1981-01-20\", end: \"1989-01-20\" },\n};\n\nconst range = PRESIDENT_RANGES[presidentName];\nif (!range) {\n  return [];\n}\n\nconst startDate = new Date(range.start);\nconst endDate = new Date(range.end);\n\n// Filter bills by date range\nconst filteredBills = allBills.filter(bill => {\n  if (!bill.latest_action_date) return false;\n  const actionDate = new Date(bill.latest_action_date);\n  return actionDate >= startDate && actionDate < endDate;\n});\n\n// Limit to top 10 to avoid too many Google API calls\nreturn filteredBills.slice(0, 10).map(bill => ({\n  bill_id: bill.id,\n  bill_type: bill.bill_type,\n  bill_number: bill.bill_number,\n  title: bill.title,\n  search_query: `${bill.bill_type.toUpperCase()} ${bill.bill_number} \"${bill.title}\" law signed`,\n  president_name: presidentName\n}));"
      },
      "name": "Filter by President",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "query": "={{ $json.search_query }}",
        "options": {
          "num": 10
        }
      },
      "name": "Google Search",
      "type": "n8n-nodes-base.google",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "googleApi": {
          "id": "google-search-api",
          "name": "Google Search API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate popularity score from search results\nconst searchResults = $input.first().json.searchResult || [];\nconst billData = $input.first().json;\n\n// Popularity score = number of search results found\nconst popularityScore = searchResults.length || 0;\n\nreturn [{\n  json: {\n    bill_id: billData.bill_id,\n    popularity_score: popularityScore * 10 // Multiply by 10 to get better range\n  }\n}];"
      },
      "name": "Calculate Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all bill scores\nconst items = $input.all();\n\nconst billUpdates = items.map(item => ({\n  bill_id: item.json.bill_id,\n  popularity_score: item.json.popularity_score\n}));\n\nreturn [{ json: billUpdates }];"
      },
      "name": "Aggregate Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://98.94.94.17/api/bills/update-popularity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Update Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "admin-api-key",
          "name": "Admin API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2220, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract President",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract President": {
      "main": [
        [
          {
            "node": "Fetch Enacted Bills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Enacted Bills": {
      "main": [
        [
          {
            "node": "Filter by President",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by President": {
      "main": [
        [
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "main": [
        [
          {
            "node": "Calculate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Score": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Aggregate Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Scores": {
      "main": [
        [
          {
            "node": "Update Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Backend": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "justabill"
    },
    {
      "name": "popularity"
    }
  ]
}
