n8n/workflows/enacted-bills-on-demand.json
{
  "name": "Enacted Bills On-Demand",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Generate list of all presidents with their congress sessions\nconst presidents = [\n  { name: \"Donald Trump 2nd\", congresses: [119] },\n  { name: \"Joe Biden\", congresses: [117, 118] },\n  { name: \"Donald Trump\", congresses: [115, 116] },\n  { name: \"Barack Obama\", congresses: [111, 112, 113, 114] },\n  { name: \"George W. Bush\", congresses: [107, 108, 109, 110] },\n  { name: \"Bill Clinton\", congresses: [103, 104, 105, 106] },\n  { name: \"George H.W. Bush\", congresses: [101, 102] }\n];\n\n// Flatten to one item per congress session\nconst items = [];\nfor (const pres of presidents) {\n  for (const congress of pres.congresses) {\n    items.push({\n      json: {\n        president: pres.name,\n        congress: congress\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "name": "Generate Congress Sessions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "generate-sessions"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.congress.gov/v3/bill/{{ $json.congress }}?limit=250&sort=updateDate+desc&api_key={{ $env.CONGRESS_API_KEY }}",
        "options": {}
      },
      "name": "Fetch Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "id": "fetch-bills",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst bills = response.bills || [];\n\n// Filter for enacted bills\nconst enacted = bills.filter(bill => {\n  const action = (bill.latestAction?.text || '').toLowerCase();\n  return action.includes('became public law') || \n         action.includes('became law') ||\n         action.includes('signed by president');\n});\n\n// Map to ingest format\nreturn enacted.map(bill => ({\n  json: {\n    congress: bill.congress,\n    bill_type: (bill.type || 'hr').toLowerCase(),\n    bill_number: parseInt(bill.number, 10)\n  }\n}));"
      },
      "name": "Filter Enacted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "filter-enacted",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Batch Bills",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300],
      "id": "batch-bills"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://98.94.94.17/api/ingest/bill",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "name": "Ingest Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "id": "ingest-bill",
      "credentials": {
        "httpHeaderAuth": {
          "id": "admin-api-key",
          "name": "Admin API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1450, 300],
      "id": "wait"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Generate Congress Sessions", "type": "main", "index": 0}]]
    },
    "Generate Congress Sessions": {
      "main": [[{"node": "Fetch Bills", "type": "main", "index": 0}]]
    },
    "Fetch Bills": {
      "main": [[{"node": "Filter Enacted", "type": "main", "index": 0}]]
    },
    "Filter Enacted": {
      "main": [[{"node": "Batch Bills", "type": "main", "index": 0}]]
    },
    "Batch Bills": {
      "main": [
        [{"node": "Ingest Bill", "type": "main", "index": 0}],
        []
      ]
    },
    "Ingest Bill": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Batch Bills", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
