n8n/workflows/enacted-bills-sync.json
{
  "name": "Enacted Bills Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "current_congress",
              "value": 119
            },
            {
              "name": "oldest_congress",
              "value": 110
            }
          ]
        },
        "options": {}
      },
      "name": "Set Congress Range",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 300],
      "notesInFlow": true,
      "notes": "110th Congress (2007-2009) through current. Adjust oldest_congress to go further back."
    },
    {
      "parameters": {
        "jsCode": "// Generate array of congress numbers to fetch\nconst current = $input.first().json.current_congress;\nconst oldest = $input.first().json.oldest_congress;\n\nconst congresses = [];\nfor (let c = current; c >= oldest; c--) {\n  congresses.push({ congress: c });\n}\n\nreturn congresses;"
      },
      "name": "Generate Congress List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.congress.gov/v3/bill/{{ $json.congress }}?limit=250&sort=updateDate+desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "{{ $env.CONGRESS_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Fetch Bills from Congress.gov",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// Filter for enacted bills only and extract relevant data\nconst bills = $input.first().json.bills || [];\n\nconst enactedBills = bills.filter(bill => {\n  const latestAction = (bill.latestAction?.text || '').toLowerCase();\n  return latestAction.includes('became public law') || \n         latestAction.includes('became law') ||\n         latestAction.includes('signed by president');\n});\n\n// Map to our ingestion format\nreturn enactedBills.map(bill => {\n  // Parse bill type and number from URL or number field\n  const billType = bill.type?.toLowerCase() || 'hr';\n  const billNumber = bill.number || 0;\n  const congress = bill.congress || 119;\n  \n  return {\n    congress: congress,\n    bill_type: billType,\n    bill_number: parseInt(billNumber)\n  };\n});"
      },
      "name": "Filter Enacted Bills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://98.94.94.17/api/ingest/bill",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ congress: $json.congress, bill_type: $json.bill_type, bill_number: $json.bill_number }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "name": "Ingest Enacted Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300],
      "continueOnFail": true,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 2
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Wait (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Summarize results\nconst items = $input.all();\n\nlet success = 0;\nlet failed = 0;\nlet skipped = 0;\n\nfor (const item of items) {\n  if (item.json.error) {\n    failed++;\n  } else if (item.json.status === 'unchanged' || item.json.status === 'partial') {\n    skipped++;\n  } else {\n    success++;\n  }\n}\n\nreturn [{\n  json: {\n    total_processed: items.length,\n    success: success,\n    failed: failed,\n    skipped: skipped,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Congress Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Congress Range": {
      "main": [
        [
          {
            "node": "Generate Congress List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Congress List": {
      "main": [
        [
          {
            "node": "Fetch Bills from Congress.gov",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Bills from Congress.gov": {
      "main": [
        [
          {
            "node": "Filter Enacted Bills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Enacted Bills": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Ingest Enacted Bill",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Enacted Bill": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit)": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Congress Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "justabill"
    },
    {
      "name": "enacted"
    }
  ]
}
