n8n/workflows/enacted-bills-popularity.json
{
  "name": "Enacted Bills Popularity Check",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 0"
            }
          ]
        }
      },
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-enacted-popularity",
      "notes": "Runs weekly on Sunday at 6 AM - checks popularity of enacted bills"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500],
      "id": "manual-trigger-enacted"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://98.94.94.17/api/bills",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "enacted"
            },
            {
              "name": "page_size",
              "value": "500"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch Enacted Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 400],
      "id": "fetch-enacted-bills"
    },
    {
      "parameters": {
        "jsCode": "// Extract enacted bills and assign president based on congress number\nconst items = $input.all();\nconst allBills = [];\n\n// President to Congress mapping\nconst PRESIDENT_CONGRESS = {\n  119: 'Donald Trump 2nd',\n  118: 'Joe Biden',\n  117: 'Joe Biden',\n  116: 'Donald Trump',\n  115: 'Donald Trump',\n  114: 'Barack Obama',\n  113: 'Barack Obama',\n  112: 'Barack Obama',\n  111: 'Barack Obama',\n  110: 'George W. Bush',\n  109: 'George W. Bush',\n  108: 'George W. Bush',\n  107: 'George W. Bush',\n  106: 'Bill Clinton',\n  105: 'Bill Clinton',\n  104: 'Bill Clinton',\n  103: 'Bill Clinton',\n  102: 'George H.W. Bush',\n  101: 'George H.W. Bush',\n};\n\nfor (const item of items) {\n  const bills = item.json.items || [];\n  \n  for (const bill of bills) {\n    const president = PRESIDENT_CONGRESS[bill.congress] || 'Unknown';\n    \n    allBills.push({\n      json: {\n        president: president,\n        bill_id: bill.id,\n        congress: bill.congress,\n        bill_type: bill.bill_type,\n        bill_number: bill.bill_number,\n        title: bill.title,\n        short_title: bill.short_title || (bill.title ? bill.title.substring(0, 60) : '')\n      }\n    });\n  }\n}\n\nif (allBills.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nreturn allBills;"
      },
      "name": "Extract Bills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400],
      "id": "extract-bills"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Batch Bills",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 400],
      "id": "batch-popularity"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.bill_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Bill Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400],
      "id": "has-bill-data"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY }}"
            },
            {
              "name": "cx",
              "value": "={{ $env.GOOGLE_SEARCH_ENGINE_ID }}"
            },
            {
              "name": "q",
              "value": "=\"{{ $json.bill_type.toUpperCase() }} {{ $json.bill_number }}\" OR \"{{ $json.short_title }}\" congress law"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "name": "Google Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400],
      "id": "google-search-enacted",
      "continueOnFail": true,
      "notes": "Search for news/mentions of this enacted law"
    },
    {
      "parameters": {
        "jsCode": "// Calculate popularity score from search results\n// The input item has both the search result AND the original bill data\nconst item = $input.item;\nconst searchResult = item.json;\n\n// Get bill data from the paired item (previous node's input)\nconst billData = $('Has Bill Data').item.json;\n\nlet popularityScore = 0;\n\nif (searchResult && !searchResult.error && searchResult.items) {\n  const searchItems = searchResult.items || [];\n  \n  for (const si of searchItems) {\n    let score = 1;\n    const domain = (si.displayLink || '').toLowerCase();\n    \n    // High-quality news sources\n    if (domain.includes('nytimes') || domain.includes('washingtonpost') || \n        domain.includes('wsj') || domain.includes('reuters') || domain.includes('apnews')) {\n      score += 8;\n    } else if (domain.includes('cnn') || domain.includes('foxnews') || \n               domain.includes('nbcnews') || domain.includes('abcnews') ||\n               domain.includes('politico') || domain.includes('thehill')) {\n      score += 6;\n    } else if (domain.includes('news') || domain.includes('bbc')) {\n      score += 4;\n    } else if (domain.includes('.gov')) {\n      score += 3;\n    }\n    \n    popularityScore += score;\n  }\n}\n\nreturn {\n  json: {\n    bill_id: billData.bill_id,\n    congress: billData.congress,\n    bill_type: billData.bill_type,\n    bill_number: billData.bill_number,\n    president: billData.president,\n    popularity_score: Math.round(popularityScore)\n  }\n};"
      },
      "name": "Calculate Popularity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400],
      "id": "calculate-enacted-popularity"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://98.94.94.17/api/bills/lookup/{{ $json.congress }}/{{ $json.bill_type }}/{{ $json.bill_number }}/popularity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"is_popular\": {{ $json.popularity_score >= 15 }},\n  \"popularity_score\": {{ $json.popularity_score }}\n}",
        "options": {}
      },
      "name": "Update Popularity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 400],
      "id": "update-enacted-popularity",
      "credentials": {
        "httpHeaderAuth": {
          "id": "admin-api-key",
          "name": "Admin API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1850, 400],
      "id": "wait-popularity"
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [[{"node": "Fetch Enacted Bills", "type": "main", "index": 0}]]
    },
    "Manual Trigger": {
      "main": [[{"node": "Fetch Enacted Bills", "type": "main", "index": 0}]]
    },
    "Fetch Enacted Bills": {
      "main": [[{"node": "Extract Bills", "type": "main", "index": 0}]]
    },
    "Extract Bills": {
      "main": [[{"node": "Batch Bills", "type": "main", "index": 0}]]
    },
    "Batch Bills": {
      "main": [
        [{"node": "Has Bill Data", "type": "main", "index": 0}],
        []
      ]
    },
    "Has Bill Data": {
      "main": [
        [{"node": "Google Search", "type": "main", "index": 0}],
        []
      ]
    },
    "Google Search": {
      "main": [[{"node": "Calculate Popularity", "type": "main", "index": 0}]]
    },
    "Calculate Popularity": {
      "main": [[{"node": "Update Popularity", "type": "main", "index": 0}]]
    },
    "Update Popularity": {
      "main": [[{"node": "Rate Limit Wait", "type": "main", "index": 0}]]
    },
    "Rate Limit Wait": {
      "main": [[{"node": "Batch Bills", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
