n8n/workflows/enacted-bills-on-demand.json
{
  "name": "Enacted Bills On-Demand",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "manual-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Generate list of all presidents with their congress sessions\nconst presidents = [\n  { name: \"Donald Trump 2nd\", congresses: [115, 116, 119] },\n  { name: \"Joe Biden\", congresses: [117, 118] },\n  { name: \"Barack Obama\", congresses: [111, 112, 113, 114] },\n  { name: \"George W. Bush\", congresses: [107, 108, 109, 110] },\n  { name: \"Bill Clinton\", congresses: [103, 104, 105, 106] },\n  { name: \"George H.W. Bush\", congresses: [101, 102] }\n];\n\n// Flatten to one item per congress session\nconst items = [];\nfor (const pres of presidents) {\n  for (const congress of pres.congresses) {\n    items.push({\n      json: {\n        president: pres.name,\n        congress: congress\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "name": "Generate Congress Sessions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "generate-sessions"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.congress.gov/v3/bill/{{ $json.congress }}?limit=250&sort=updateDate+desc&api_key={{ $env.CONGRESS_API_KEY }}",
        "options": {}
      },
      "name": "Fetch Bills",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "id": "fetch-bills",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process ALL items (all congress sessions)\nconst allItems = $input.all();\nconst allEnacted = [];\n\nfor (const item of allItems) {\n  const bills = item.json.bills || [];\n  \n  // Filter for enacted bills in this congress\n  const enacted = bills.filter(bill => {\n    if (!bill || !bill.latestAction) return false;\n    const action = (bill.latestAction.text || '').toLowerCase();\n    return action.includes('became public law') || \n           action.includes('became law') ||\n           action.includes('signed by president');\n  });\n  \n  // Add to results\n  for (const bill of enacted) {\n    allEnacted.push({\n      json: {\n        congress: bill.congress,\n        bill_type: (bill.type || 'hr').toLowerCase(),\n        bill_number: parseInt(bill.number, 10)\n      }\n    });\n  }\n}\n\n// If no enacted bills found, return empty to skip\nif (allEnacted.length === 0) {\n  return [{ json: {} }];\n}\n\nreturn allEnacted;"
      },
      "name": "Filter Enacted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "filter-enacted",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Batch Bills",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300],
      "id": "batch-bills"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.bill_number }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Bill Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300],
      "id": "has-bill"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://98.94.94.17/api/ingest/bill",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ congress: $json.congress, bill_type: $json.bill_type, bill_number: $json.bill_number, force_status: 'enacted' }) }}",
        "options": {}
      },
      "name": "Ingest Bill",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300],
      "id": "ingest-bill",
      "credentials": {
        "httpHeaderAuth": {
          "id": "admin-api-key",
          "name": "Admin API Key"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1650, 300],
      "id": "wait"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Generate Congress Sessions", "type": "main", "index": 0}]]
    },
    "Generate Congress Sessions": {
      "main": [[{"node": "Fetch Bills", "type": "main", "index": 0}]]
    },
    "Fetch Bills": {
      "main": [[{"node": "Filter Enacted", "type": "main", "index": 0}]]
    },
    "Filter Enacted": {
      "main": [[{"node": "Batch Bills", "type": "main", "index": 0}]]
    },
    "Batch Bills": {
      "main": [
        [{"node": "Has Bill Data", "type": "main", "index": 0}],
        []
      ]
    },
    "Has Bill Data": {
      "main": [
        [{"node": "Ingest Bill", "type": "main", "index": 0}],
        []
      ]
    },
    "Ingest Bill": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Batch Bills", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
